<!-- This navigation is also responsive
To make this navigation dynamic please make sure to link the node
(the reference to the nav > ul) after page load. Or the navigation
will not initialize.
-->
<nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul>
        <li {{ app.request.attributes.get('_route') == 'admin_dashboard' ? 'class="active"' }}>
            <a href="" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
        </li>
        <li {{ 'admin_user' in app.request.attributes.get('_route') ? 'class="active"' }}>
            <a href="" title="Users"><i class="fa fa-lg fa-fw fa-user"></i> <span class="menu-item-parent">Users</span></a>
        </li>
        <li>
            <a href="#" title="Softwares"><i class="fa fa-lg fa-fw fa-cube"></i> <span class="menu-item-parent">Item 1</span></a>
            <ul>
                <li {{ 'admin_item1' in app.request.attributes.get('_route') ? 'class="active"' }}>
                    <a href="" title="Softwares"><i class="fa fa-lg fa-fw fa-cube"></i> <span class="menu-item-parent">Item 1</span></a>
                </li>
                <li {{ 'admin_item2' in app.request.attributes.get('_route') ? 'class="active"' }}>
                    <a href="" title="Categories"><i class="fa fa-lg fa-fw fa-cubes"></i> <span class="menu-item-parent">Item 2</span></a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<span class="minifyme" data-action="minifyMenu">
    <i class="fa fa-arrow-circle-left hit"></i>
</span>
